
:root {
    /* --color-primary: rgb(29,30,32); */
    /* --color-secondary: #397469; */
    /* --color-tertiary: #20c9ab; */
    /* --color-quaternary: #c94e20; */
    /* --color-text: rgb(218, 218, 218) */
    --color-primary: #212830;
    /* --color-secondary: #57606a; */
    --color-secondary: #3d444d;
    --color-tertiary: #151b23;
    --color-quaternary: #428f46;
    --color-text: #cdd9e5;
    --color-border: #656c76;
}

.bg-primary {
    background: var(--color-primary);
}
.fg-primary {
    color: var(--color-primary);
}
.bg-secondary {
    background: var(--color-secondary);
}
.fg-secondary {
    color: var(--color-secondary);
}

.bg-tertiary {
    background: var(--color-tertiary);
}
.bg-tertiary-hover:hover {
    background: var(--color-tertiary);
}
.fg-tertiary {
    color: var(--color-tertiary);
}

.bg-quat {
    background: var(--color-quaternary);
}
.bg-quat-hover:hover, .bg-quat:disabled {
    /* background: #4d1e0d; */
    background: #8a4e38;
}

.fg-quat {
    color: var(--color-quaternary);
}

.color-text {
    color: var(--color-text);
}

html, th {
    background: var(--color-primary);
    font-family: Arial;
}

h1, h2, h3 {
    color: rgb(218, 218, 218);
    /* background: rgb(29, 30, 32); */
    background: var(--color-tertiary);
    border-bottom: solid var(--color-border) 1px;
}

#table-container {
    height: 60vh;
    overflow-y: auto;
    border: 1px solid var(--color-border);
    border-radius: 6px;
    /* margin-top: 10px; */
}

table {
    padding: 20px;
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap;
    overflow-x: auto;
    min-width: 1200px;
    /* border-collapse: separate; */
}

thead {
    position: sticky;
    top: 0;
    background: white;
}

tr:hover{
   /* background-color: rgba(255, 255, 0, 0.5) !important; */
   /* background-color: #558589 !important; */
   background-color: var(--color-quaternary) !important;
}

th, td {
    padding: 6px;
    /* border-top: 1px solid #ddd; */
    /* border-bottom: 1px solid #ddd; */
    text-align: center;
    /* font-size: 18px; */
    color: white;
}

tbody tr:nth-child(odd) {
  background-color: #444;
  color: #fff;
}

tbody tr:nth-child(even) {
  background-color: #555;
  color: #fff;
}

/* button { */
/*     padding: 6px; */
/*     padding-left: 16px; */
/*     padding-right: 16px; */
/*     font-size: 18px; */
/*     /\* background-color: #44bb55; *\/ */
/*     background-color: rgb(218, 218, 218); */
/*     text-color: white; */
/*     border-radius: 6px; */
/* } */

/* button:hover { */
/*     background-color: rgb(180, 180, 180); */

/* } */

body {
    margin: 0;
}

#page {
    display: flex;
    flex-basis: 90%;
    min-height: 100vh;
}

#sidebar {
    /* background-color: rgb(218, 218, 218); */
    width: 100px;
    min-height: 100vh;
    flex-basis: 10%;
    flex-shrink: 0;
}

#sidebar > p {
    text-color: black;
    padding: 10px;
    margin: 0;
    text-align: center;
    /* border-color: rgb(200, 200, 200); */
    /* border-color: rgb(200, 200, 200); */
    /* border-style: solid; */
    /* border-width: 1px; */
}

/* #sidebar > p:hover { */
    /* background: rgb(180, 180, 180); */
/* } */

#main {
    margin: 0px;
}

h1 {
    font-size: 2em;
    padding: 20px;
}

#config {
    display: grid;
    /* grid-template-columns: auto auto auto auto auto auto; */
    /* grid-template-columns: repeat(6, minmax(0, 1fr)); */
    grid-template-columns: repeat(6, auto);

    padding-left: 10px;
    padding-bottom: 10px;
    max-width: 800px;
    /* display: flex; */
    /* justify-content: space-between; */
    /* /\* justify-content: flex-start; *\/ */
    /* gap: 10px; */
    /* flex-wrap: wrap; */
    /* align-items: flex-start; */
}

.page-content {
    margin: 20px;
}

#config-form {
    padding: 20px;
    /* max-width: 50%; */
    /* min-width: 800px; */
    display: flex;
    /* justify-content: space-around; */
    justify-content: flex-start;
    gap: 10px;
    flex-wrap: wrap;
    flex-direction: column;
    border: 1px solid var(--color-border);
    border-radius: 6px;
}

#config > label {
    margin-top: 15px;
}

.config-item {
    white-space: nowrap;
    padding-top: 10px;
    /* text-align: center; */
}

.config-item > select, .config-item > input {
    border: solid var(--color-border) 1px;
}

/* Hide up/down arrows for number field */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Hide default checkbox */
.custom-checkbox input[type="checkbox"] {
  display: none;
}

/* Create custom box */
.custom-checkbox .checkmark {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: var(--color-secondary);
  /* border: 2px solid #ccc; */
  border: 1px solid var(--color-border);
  border-radius: 4px;
  margin-right: 8px;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
}

/* Show checkmark when checked */
.custom-checkbox input:checked + .checkmark::after {
  content: "";
  position: absolute;
  left: 8px;
  top: 1px;
  width: 10px;
  height: 20px;
  /* border: solid black; */
  border: solid var(--color-quaternary);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.chart {
    max-width: 50%;
    /* width: 100%; */
    padding-bottom: 30px;
}
