<div id="config">
  <label for="port1" class="font-medium text-heading color-text">Port 1:</label>
  <div class="config-item">
    <select
      name="port1"
      class="color-text bg-secondary py-2 px-4 rounded">
      {{ range .AllPorts }}
        {{ if (eq . $.Port1) }} 
          <option selected="selected"> {{ . }} 
	{{ else }} 
          <option> {{ . }} </option>
	{{ end }}
      {{ end }}
    </select>
  </div>

  <label for="port2" class="font-medium text-heading color-text">Port 2:</label>
  <div class="config-item">
    <select
      name="port2"
      class="color-text bg-secondary py-2 px-4 rounded">
      {{ range .AllPorts }}
        {{ if (eq . $.Port2) }} 
          <option selected="selected"> {{ . }} 
	{{ else }} 
          <option> {{ . }} </option>
	{{ end }}
      {{ end }}
    </select>
  </div>

  <label for="domain" class="font-medium text-heading color-text">Domain:</label>
  <div class="config-item">
    <input
      name="domain"
      type="number"
      min="0" max="999"
      placeholder="Domain"
      value="{{ .Opts.Domain }}"
      class="color-text bg-secondary py-1.5 px-4 rounded">
          </input>
  </div>

  <label for="peertopeer" class="font-medium text-heading color-text">P2P:</label>
  <div class="config-item" style="margin-top: 5px;">
    <label class="custom-checkbox">
      <input
	name="peertopeer"
	type="checkbox"
	{{ if .TeOpts.Peertopeer }} checked {{ end }} 
	class="color-text bg-secondary py-2 px-4 rounded">
            </input>
	    <span class="checkmark"></span>
    </label>
  </div>

  <label for="software" class="font-medium text-heading color-text">SwTstamp:</label>
  <div class="config-item" style="margin-top: 5px;">
    <label class="custom-checkbox">
      <input
	name="software"
	type="checkbox"
	{{ if .Opts.SwTstamp }} checked {{ end }} 
	class="color-text bg-secondary py-2 px-4 rounded">
            </input>
	    <span class="checkmark"></span>
    </label>
  </div>

  <!-- <label for="record-delay" class="font-medium text-heading color-text">Recording delay:</label> -->
  <!-- <div class="config-item"> -->
  <!--   <input -->
  <!--     name="record-delay" -->
  <!--     type="number" -->
  <!--     min="0" max="999" -->
  <!--     placeholder="Delay" -->
  <!--     value="0" -->
  <!--     class="color-text bg-secondary py-1.5 px-4 rounded"> -->
  <!--         </input> -->
  <!-- </div> -->

  <label for="prio" class="font-medium text-heading color-text">Interval (ms):</label>
  <div class="config-item">
    <input
      name="interval"
      type="number"
      min="0" max="999"
      placeholder="Interval"
      {{ if .TeOpts.Interval }} value="{{ .TeOpts.Interval }}" {{ end }} 
      class="color-text bg-secondary py-1.5 px-4 rounded">
          </input>
  </div>


  <label for="vlan-tagged" class="font-medium text-heading color-text">VLAN tagged:</label>
  <div class="config-item" style="margin-top: 5px;">
    <label class="custom-checkbox">
      <input
	name="vlan-tagged"
	type="checkbox"
	{{ if .Opts.Vlan }} checked {{ end }} 
	class="color-text bg-secondary py-2 px-4 rounded">
            </input>
	    <span class="checkmark"></span>
    </label>
  </div>

  <label for="vlan" class="font-medium text-heading color-text">VID:</label>
  <div class="config-item">
    <input
      name="vlan"
      type="number"
      min="0" max="999"
      placeholder="VID"
      {{ if .Opts.Vlan }} value="{{ .Opts.Vlan }}" {{ end }} 
      class="color-text bg-secondary py-1.5 px-4 rounded">
          </input>
  </div>

  <label for="prio" class="font-medium text-heading color-text">PRIO:</label>
  <div class="config-item">
    <input
      name="prio"
      type="number"
      min="0" max="999"
      placeholder="Prio"
      {{ if .Opts.Vlan }} value="{{ .Opts.Prio }}" {{ end }} 
      class="color-text bg-secondary py-1.5 px-4 rounded">
          </input>
  </div>

</div>
