<!DOCTYPE html>
<html>
<head>
<title>InTime</title>
<script src="/static/htmx.min.js"></script>
<script src="/static/ws.min.js"></script>
<script src="/static/tailwind.js"></script>
<!-- <script src="/static/materialize.min.js"></script> -->
<!-- <script src="/static/bootstrap.min.js"></script> -->
<!-- <link rel="stylesheet" href="static/pico.jade.min.css"> -->
<link rel="stylesheet" href="style.css">
<!-- <link rel="stylesheet" href="static/materialize.min.css"> -->
<!-- <link rel="stylesheet" href="static/bootstrap.min.css"> -->
</head>
<body>

<div id="page">  
  <div id="sidebar" class="bg-primary" style="border-right: solid var(--color-border) 1px">
    <p class="bg-tertiary-hover border-gray-500 border text-white">TE Mode</p>
    <p class="bg-tertiary-hover border-gray-500 border text-white">Packet Mode</p>
  </div>
  <div id="main">
    <h1>InTime - Time Error Mode</h1>

    <form id="config-form">
      {{ template "config" }}
      <!-- <div id="config" hx-post="/te-config" hx-trigger="load"> -->
	<!-- <label for="port1" class="font-medium text-heading color-text">Port 1:</label> -->
	<!-- <div class="config-item"> -->
	<!--   <select -->
	<!--     name="port1" -->
	<!--     class="color-text bg-secondary py-2 px-4 rounded" -->
	<!--     hx-post="/get-ports" -->
	<!--     hx-trigger="load" -->
	<!--     hx-swap="innerHTML"> -->
	<!--   </select> -->
	<!-- </div> -->

	<!-- <label for="port2" class="font-medium text-heading color-text">Port 2:</label> -->
	<!-- <div class="config-item"> -->
	<!--   <select -->
	<!--     name="port2" -->
	<!--     class="color-text bg-secondary py-2 px-4 rounded" -->
	<!--     hx-post="/get-ports" -->
	<!--     hx-trigger="load" -->
	<!--     hx-swap="innerHTML"> -->
	<!--   </select> -->
	<!-- </div> -->

	<!-- <label for="domain" class="font-medium text-heading color-text">Domain:</label> -->
	<!-- <div class="config-item"> -->
	<!--   <input -->
	<!--     name="domain" -->
	<!--     type="number" -->
	<!--     min="0" max="999" -->
	<!--     placeholder="Domain" -->
	<!--     class="color-text bg-secondary py-1.5 px-4 rounded"> -->
        <!--   </input> -->
	<!-- </div> -->

	<!-- <label for="peertopeer" class="font-medium text-heading color-text">P2P:</label> -->
	<!-- <div class="config-item" style="margin-top: 5px;"> -->
	<!--   <label class="custom-checkbox"> -->
	<!--     <input -->
	<!--       name="peertopeer" -->
	<!--       type="checkbox" -->
	<!--       class="color-text bg-secondary py-2 px-4 rounded"> -->
        <!--     </input> -->
	<!--     <span class="checkmark"></span> -->
	<!--   </label> -->
	<!-- </div> -->

	<!-- <label for="software" class="font-medium text-heading color-text">SwTstamp:</label> -->
	<!-- <div class="config-item" style="margin-top: 5px;"> -->
	<!--   <label class="custom-checkbox"> -->
	<!--     <input -->
	<!--       name="software" -->
	<!--       type="checkbox" -->
	<!--       class="color-text bg-secondary py-2 px-4 rounded"> -->
        <!--     </input> -->
	<!--     <span class="checkmark"></span> -->
	<!--   </label> -->
	<!-- </div> -->

	<!-- <label for="record-delay" class="font-medium text-heading color-text">Recording delay:</label> -->
	<!-- <div class="config-item"> -->
	<!--   <input -->
	<!--     name="record-delay" -->
	<!--     type="number" -->
	<!--     min="0" max="999" -->
	<!--     placeholder="Delay" -->
	<!--     class="color-text bg-secondary py-1.5 px-4 rounded"> -->
        <!--   </input> -->
	<!-- </div> -->

	<!-- <label for="vlan-tagged" class="font-medium text-heading color-text">VLAN tagged:</label> -->
	<!-- <div class="config-item" style="margin-top: 5px;"> -->
	<!--   <label class="custom-checkbox"> -->
	<!--     <input -->
	<!--       name="vlan-tagged" -->
	<!--       type="checkbox" -->
	<!--       class="color-text bg-secondary py-2 px-4 rounded"> -->
        <!--     </input> -->
	<!--     <span class="checkmark"></span> -->
	<!--   </label> -->
	<!-- </div> -->

	<!-- <label for="vlan" class="font-medium text-heading color-text">VID:</label> -->
	<!-- <div class="config-item"> -->
	<!--   <input -->
	<!--     name="vlan" -->
	<!--     type="number" -->
	<!--     min="0" max="999" -->
	<!--     placeholder="VID" -->
	<!--     class="color-text bg-secondary py-1.5 px-4 rounded"> -->
        <!--   </input> -->
	<!-- </div> -->

	<!-- <label for="prio" class="font-medium text-heading color-text">PRIO:</label> -->
	<!-- <div class="config-item"> -->
	<!--   <input -->
	<!--     name="prio" -->
	<!--     type="number" -->
	<!--     min="0" max="999" -->
	<!--     placeholder="Prio" -->
	<!--     class="color-text bg-secondary py-1.5 px-4 rounded"> -->
        <!--   </input> -->
	<!-- </div> -->

      <!-- </div> -->

      <hr style="color: var(--color-border)">
      
      <div style="padding-top: 10px">
	<button type="submit"
		id="start-button"
		name="action"
		value="start"
		class="bg-quat bg-quat-hover color-text rounded py-2 px-4" 
		onclick="start_stop(true)"
		hx-post="/te-toggle"
		hx-swap="innerHTML"
		hx-target="#msgs">
	  Start
	</button>

	<button type="submit"
		id="stop-button"
		name="action"
		value="stop"
		onclick="start_stop(false)"
		class="bg-quat bg-quat-hover color-text rounded py-2 px-4" 
		disabled
		hx-post="/te-toggle"
		hx-swap="innerHTML"
		hx-target="#results">
	  Stop
	</button>
	<button type="submit"
		id="record-button"
		name="action"
		value="record"
		onclick="record()"
		class="bg-quat bg-quat-hover color-text rounded py-2 px-4" 
		disabled
		hx-post="/te-toggle"
		hx-swap="none">
	  Capture
	</button>
      </div>
    </form>

    <!-- <form hx-post="/te-toggle" hx-swap="none"> -->
      <!-- <button type="submit" name="action" value="stop" class="bg-gray-700 hover:bg-gray-500 text-white rounded py-2 px-4">Stop</button> -->
    <!-- </form> -->


    <div hx-ext="ws" ws-connect="/ws" style="padding-left: 20px; padding-right: 20px">
      <div id="table-container">
	<table class="table-fixed">
          <thead>
            <tr>
	      <th style="width: 5%">Port</th>
	      <th style="width: 2%">Dir</th>
	      <th style="width: 10%">Type</th>
	      <th style="width: 5%">Domain</th>
	      <th style="width: 5%">Seq</th>
	      <th style="width: 13%">Correction</th>
	      <th style="width: 13%">OriginTS</th>
	      <th style="width: 13%">Timestamp</th>
	      <!-- <th></th> -->
            </tr>
          </thead>
          <tbody id="msgs">
          </tbody>
	</table>
      </div>
    </div>
    
    <div id="results" class="color-text" style="padding-left: 20px; padding-top: 20px;">
    </div>

  </div>
</div>

</body>


<script>
function start_stop(is_start) {
	const start = document.getElementById("start-button")
	const stop = document.getElementById("stop-button")
	const record = document.getElementById("record-button")
	
	if (is_start) {
		start.setAttribute("disabled", "")
		stop.removeAttribute('disabled');
		record.removeAttribute('disabled');
	} else {
		stop.setAttribute("disabled", "")
		record.setAttribute("disabled", "")
		start.removeAttribute('disabled');
	}
}
function record() {
	const record = document.getElementById("record-button")
	record.setAttribute("disabled", "")
}
</script>




</html>
