{{ define "index.html" }}
<!DOCTYPE html>
<html>
<head>
<title>InTime</title>
<script src="/static/htmx.min.js"></script>
<script src="/static/ws.min.js"></script>
<script src="/static/tailwind.js"></script>
<script src="/static/chart-4.5.1.js"></script>
<!-- <script src="/static/materialize.min.js"></script> -->
<!-- <script src="/static/bootstrap.min.js"></script> -->
<!-- <link rel="stylesheet" href="static/pico.jade.min.css"> -->
<link rel="stylesheet" href="static/style.css">
<!-- <link rel="stylesheet" href="static/materialize.min.css"> -->
<!-- <link rel="stylesheet" href="static/bootstrap.min.css"> -->
</head>
<body>

<div id="page">  
  <div id="sidebar" class="bg-primary" style="border-right: solid var(--color-border) 1px">
    <p class="bg-tertiary-hover border-gray-500 border text-white">TE Mode</p>
    <p class="bg-tertiary-hover border-gray-500 border text-white">Packet Mode</p>
  </div>
  <div id="main">
    <h1>InTime - Time Error Mode</h1>

    <div class="page-content">
      <form id="config-form">
	{{ template "config" . }}
	<hr style="color: var(--color-border)">
	{{ template "buttons" . }}
      </form>

      <div hx-ext="ws" ws-connect="/ws" style="margin-top: 20px; margin-bottom: 20px;">
	<div id="table-container">
	  <table class="table-fixed">
            <thead>
              <tr>
		<th style="width: 5%">Port</th>
		<th style="width: 2%">Dir</th>
		<th style="width: 10%">Type</th>
		<th style="width: 5%">Domain</th>
		<th style="width: 5%">Seq</th>
		<th style="width: 13%">Correction</th>
		<th style="width: 13%">OriginTS</th>
		<th style="width: 13%">Timestamp</th>
		<!-- <th></th> -->
              </tr>
            </thead>
            <tbody id="msgs">
            </tbody>
	  </table>
	</div>
      </div>
      
      <div id="results" class="color-text" style="padding-left: 20px; padding-top: 20px;">
      </div>

    </div> <!-- page-content -->
  </div> <!-- main -->
</div> <!-- page -->

</body>

<script>
let ctx = null
let config = {}
let chart = null
</script>

<script id="chart-script" hx-post="/get-stats" hx-swap="innerHTML">
</script>


</html>

{{ end }}
