{{ define "index.html" }}
<!DOCTYPE html>
<html>
<head>
<title>ChronoKeep</title>
<script src="/static/htmx.min.js"></script>
<script src="/static/ws.min.js"></script>
<script src="/static/tailwind.js"></script>
<script src="/static/chart-4.5.1.js"></script>
<!-- <script src="/static/materialize.min.js"></script> -->
<!-- <script src="/static/bootstrap.min.js"></script> -->
<!-- <link rel="stylesheet" href="static/pico.jade.min.css"> -->
<link rel="stylesheet" href="static/style.css">
<!-- <link rel="stylesheet" href="static/materialize.min.css"> -->
<!-- <link rel="stylesheet" href="static/bootstrap.min.css"> -->
<link rel="icon" type="image/x-icon" href="/static/logo/favicon.svg">
</head>
<body>

<div id="page">
  <div id="sidebar" class="bg-primary" style="border-right: solid var(--color-border) 1px">
    <form>
        <button class="bg-tertiary-hover border-gray-500 border text-white"
            name="page"
            value="te"
            hx-post="/serve-page"
            hx-target="#page-content"
            hx-swap="innerHTML">
                TE Mode
        </button>
        <button class="bg-tertiary-hover border-gray-500 border text-white"
            name="page"
            value="packet"
            hx-post="/serve-page"
            hx-target="#page-content"
            hx-swap="innerHTML">
                Packet Mode
        </button>
        <button class="bg-tertiary-hover border-gray-500 border text-white"
            name="page"
            value="help"
            hx-post="/serve-page"
            hx-target="#page-content"
            hx-swap="innerHTML">
                Help Page
        </button>
    </form>
  </div>
  <div id="main">

    <h1>
      <img src="/static/logo/logo-grey-vectorized.svg" alt="ChronoKeep logo" id="logo">
      - <span id="mode-title">{{ .ModeTitle }}</span>
    </h1>

    <div id="page-content">
    {{ if (eq .Mode "time-error" )}}
      {{ template "te" . }}
      {{ else if (eq .Mode "packet" )}}
        {{ template "packet" . }}
    {{ else if (eq .Mode "help" )}}
      {{ template "help" . }}
    {{ end }}
    </div> <!-- page-content -->

  </div> <!-- main -->
</div> <!-- page -->

</body>

<script>

let charts = {}
Chart.defaults.color = '#cdd9e5';

function make_chart(title, id, labels, values, color) {
	console.log("Color:", color)
	const config = {
		type: 'line',
		data: {
			labels: labels,
			datasets: [
				{ label: title,
				  data:  values,
				  borderColor: color
				}
			]
		},
		options: {
			responsive: true,
			plugins: {
				legend: {
					position: 'top',
				},
				title: {
					display: true,
					text: ''
				}
			}
		},
	};

	let chart = charts[id]
	if (chart)
		chart.destroy()

	const ctx = document.getElementById(id);
	chart = new Chart(ctx, config);
	charts[id] = chart
}


</script>

<script id="chart-script" hx-post="/get-stats" hx-swap="innerHTML">
</script>


</html>

{{ end }}
