{{ define "buttons" }}
<div style="padding-top: 10px" id="buttons">
  <button type="submit"
	  id="start-capture-button"
	  name="action"
	  value="start-and-capture"
	  class="bg-quat bg-quat-hover color-text rounded py-2 px-4"
	  {{ if .TeRunning }}
	  disabled
	  {{ end }}
	  hx-post="/te-toggle"
	  hx-swap="outerHTML"
	  hx-target="#buttons">
    Start-and-capture
  </button>

  <button type="submit"
	  id="start-button"
	  name="action"
	  value="start"
	  class="bg-quat bg-quat-hover color-text rounded py-2 px-4"
	  {{ if .TeRunning }}
	  disabled
	  {{ end }}
	  hx-post="/te-toggle"
	  hx-swap="outerHTML"
	  hx-target="#buttons">
    Start
  </button>

  <button type="submit"
	  id="record-button"
	  name="action"
	  value="record"
	  class="bg-quat bg-quat-hover color-text rounded py-2 px-4"
	  {{ if or (not .TeRunning) (.Capturing) }}
	  disabled
	  {{ end }}
	  hx-post="/te-toggle"
	  hx-swap="outerHTML"
	  hx-target="#buttons">
    Capture
  </button>

  <button type="submit"
	  id="stop-button"
	  name="action"
	  value="stop"
	  class="bg-quat bg-quat-hover color-text rounded py-2 px-4"
	  {{ if not .TeRunning }}
	  disabled
	  {{ end }}
	  hx-post="/te-toggle"
	  hx-swap="outerHTML"
	  hx-target="#buttons">
    Stop
  </button>

  {{ if .Error }}
  <p style="color: red">{{ .Error }}</p>
  {{ end }}

</div>

{{ if .Starting }}
<template>
<tbody id="msgs" hx-swap-oob="true">
</tbody>
</template>

{{ template "navbar-oob" . }}

{{ end }}

{{ if .Exiting }}
    {{ template "chart-oob" .Stats }}
    {{ template "navbar-oob" . }}
{{ end }}

{{ end }}
