{{ define "buttons" }}
<div style="padding-top: 10px" id="buttons">
  <button type="submit"
	  id="start-capture-button"
	  name="action"
	  value="start-and-capture"
	  class="bg-quat bg-quat-hover color-text rounded py-2 px-4" 
	  {{ if .Running }}
	  disabled
	  {{ end }}
	  hx-post="/te-toggle"
	  hx-swap="innerHTML"
	  hx-target="#buttons">
    Start-and-capture
  </button>

  <button type="submit"
	  id="start-button"
	  name="action"
	  value="start"
	  class="bg-quat bg-quat-hover color-text rounded py-2 px-4" 
	  {{ if .Running }}
	  disabled
	  {{ end }}
	  hx-post="/te-toggle"
	  hx-swap="innerHTML"
	  hx-target="#buttons">
    Start
  </button>

  <button type="submit"
	  id="record-button"
	  name="action"
	  value="record"
	  class="bg-quat bg-quat-hover color-text rounded py-2 px-4" 
	  {{ if or (not .Running) (.Capturing) }}
	  disabled
	  {{ end }}
	  hx-post="/te-toggle"
	  hx-swap="innerHTML"
	  hx-target="#buttons">
    Capture
  </button>

  <button type="submit"
	  id="stop-button"
	  name="action"
	  value="stop"
	  class="bg-quat bg-quat-hover color-text rounded py-2 px-4" 
	  {{ if not .Running }}
	  disabled
	  {{ end }}
	  hx-post="/te-toggle"
	  hx-swap="innerHTML"
	  hx-target="#buttons">
    Stop
  </button>

  <button class="bg-quat bg-quat-hover color-text rounded py-2 px-4"
	  hx-post="/get-stats"
	  hx-swap="innerHTML"
	  hx-target="#chart-script">
    Get stats
  </button>
</div>

{{ if .Starting }}
<template>
<tbody id="msgs" hx-swap-oob="true">
</tbody>
</template>
{{ end }}

{{ if .Exiting }}
<div id="results" hx-swap-oob="true" class="color-text">

  <p> 2Way Max: {{ .Stats.Max }}  </p>
  <p> 2Way Min: {{ .Stats.Min }}  </p>
  <p> 2Way Mean: {{ .Stats.Mean }}  </p>

<script>
config = {
  type: 'line',
  data: {
    labels: JSON.parse({{ .Stats.Labels }}),
    datasets: [
      { label: '2Way TE',
        data:  JSON.parse({{ .Stats.Values }})
      }
    ]
  },
  options: {
    responsive: true,
    plugins: {
      legend: {
        position: 'top',
      },
      title: {
        display: true,
        text: ''
      }
    }
  },
};

if (chart)
    chart.destroy()

chart = new Chart(ctx, config);
</script>
</div>
{{ end }}

{{ end }}
