{{ define "chart" }}
<div id="chart-box" hx-swap-oob="true" class="color-text">

  {{ if .Peertopeer }}
    {{ template "single_chart" .T1Chart }}
    {{ template "single_chart" .PDelayChart }}
    {{ template "single_chart" .FwdAccChart }}
    {{ template "single_chart" .SyncLatencyChart }}
    {{ template "single_chart" .PDelayLatencyChart }}
  {{ else }}
    {{ template "single_chart" .T1Chart }}
    {{ template "single_chart" .T4Chart }}
    {{ template "single_chart" .TwowayChart }}
    {{ template "single_chart" .SyncLatencyChart }}
    {{ template "single_chart" .DelayLatencyChart }}
  {{ end }}

</div>

{{ end }}

{{ define "single_chart" }}
  <div class="chart">
    <h2 class="rounded color-text py-2 px-4">
      {{ .Title }}
    </h2>
    <div class="chart-stats color-text">
      <p> Mean: {{ .Mean }}  </p>
      <p> Max: {{ .Max }}  </p>
      <p> Min: {{ .Min }}  </p>
    </div>
    <canvas id={{ .CssId }}></canvas>
  </div>

<script>

make_chart({{ .Title }}, {{ .CssId }}, JSON.parse({{ .Labels }}), JSON.parse({{ .Values }}), {{ .Color }})

</script>

{{ end }}
