
{{ define "chart-empty-div" }}
    <div id="chart-box" class="color-text" style="padding-left: 20px; padding-top: 20px;">
    </div>
{{ end }}

{{ define "chart-oob" }}
    <div id="chart-box" hx-swap-oob="true" class="color-text">
        {{ template "_chart" . }}
    </div>
{{ end }}

{{ define "chart" }}
    <div id="chart-box" class="color-text" style="padding-left: 20px; padding-top: 20px;">
        {{ template "_chart" . }}
    </div>
{{ end }}

{{ define "_chart" }}

  {{ if .Peertopeer }}
    {{ template "single_chart" .T1Chart }}
    {{ template "single_chart" .PDelayChart }}
    {{ template "single_chart" .FwdAccChart }}
    {{ template "single_chart" .SyncLatencyChart }}
    {{ template "single_chart" .PDelayLatencyChart }}
  {{ else }}
    {{ template "single_chart" .T1Chart }}
    {{ template "single_chart" .T4Chart }}
    {{ template "single_chart" .TwowayChart }}
    {{ template "single_chart" .SyncLatencyChart }}
    {{ template "single_chart" .DelayLatencyChart }}
  {{ end }}

{{ end }}

{{ define "single_chart" }}
  <div class="chart">
    <p class="rounded color-text py-2 px-4">
      {{ .Title }}
    <p/>
    <div class="chart-stats color-text">
      <p> Mean: {{ .Mean }}  </p>
      <p> Max: {{ .Max }}  </p>
      <p> Min: {{ .Min }}  </p>
    </div>
    <canvas id={{ .CssId }}></canvas>
  </div>

<script>

make_chart({{ .Title }}, {{ .CssId }}, JSON.parse({{ .Labels }}), JSON.parse({{ .Values }}), {{ .Color }})

</script>

{{ end }}
