
{{ define "navbar-oob" }}
<div id="navbar" class="bg-tertiary" hx-swap-oob="true">
    {{ template "_navbar" . }}
</div>
{{ end }}

{{ define "navbar" }}
<div id="navbar" class="bg-tertiary">
    {{ template "_navbar" . }}
</div>
{{ end }}

{{ define "_navbar" }}
  <form>
      <button class="color-text {{ if .TeRunning}} dot {{ end }} "
          name="page"
          value="te"
          hx-get="/te.html"
          hx-push-url="/te.html"
          hx-target="#page-content"
          hx-swap="innerHTML">
              TE Mode
      </button>
      <hr style="color: var(--color-border); margin-left: 10px; margin-right: 10px;">
      <button class="color-text"
          name="page"
          value="packet"
          hx-get="/packet.html"
          hx-push-url="/packet.html"
          hx-target="#page-content"
          hx-swap="innerHTML">
              Packet Mode
      </button>
      <hr style="color: var(--color-border); margin-left: 10px; margin-right: 10px;">
      <button class="color-text"
          name="page"
          value="help"
          hx-get="/help.html"
          hx-push-url="/help.html"
          hx-target="#page-content"
          hx-swap="innerHTML">
              Help
      </button>
      <hr style="color: var(--color-border); margin-left: 10px; margin-right: 10px;">
      <button class="color-text"
          name="page"
          hx-get="/examples.html"
          hx-push-url="/examples.html"
          hx-target="#page-content"
          hx-swap="innerHTML">
              Examples
      </button>
      <hr style="color: var(--color-border); margin-left: 10px; margin-right: 10px;">
  </form>
{{ end }}
